---
import '../styles/layout.css';
import '../styles/style.css';

const { title, lang } = Astro.props;
const base = import.meta.env.BASE_URL;
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
</head>
<body>
    <header>
        <h1>
            <a href={`${base}${lang}/`} title="Página de inicio">
                Sergio Mulet Alonso
            </a>
        </h1>
        <nav>
            <a href={`${base}${lang}/`} title="Sobre mí">Sobre mí</a>
            <a href={`${base}${lang}/experiencia`} title="Experiencia">Experiencia</a>
            <a href={`${base}${lang}/proyectos`} title="Proyectos">Proyectos</a>
        </nav>
    </header>
    <main>
        <slot></slot>
    </main>
    <footer>
        <p>© {new Date().getFullYear()} - Ingeniero de Software</p>
    </footer>
</body>
</html>